# user_roles.yaml
apiVersion: "api.cerbos.dev/v1"
description: Derived roles for users.
derivedRoles:
  name: user_roles
  variables:
    local:
      owner_id_resource: request.resource.attr.owner
      
  definitions:
    - name: anonymous
      parentRoles: ["*"]

    - name: owner
      parentRoles: ["*"]
      condition:
        match:
          expr: variables.owner_id_resource == request.principal.id

    - name: admin
      parentRoles: ["*"]
      condition:
        match:
          expr: '"ADMIN" in request.principal.roles'

    - name: moderator
      parentRoles: ["*"]
      condition:
        match:
          expr: '"MODERATOR" in request.principal.roles'